body {
    background-color: var(--background) !important;
    height: 100vh;
}

.players {
    height: auto-fit;
    padding: 10px;
    padding-top: 80px;
    margin-bottom: 50px;
}

.players-content {
    align-items: center;
    padding: 10px;
}

.players-content h2 {
    text-align: center;
    color: var(--text-color);
}

.players-content .active-players {
    margin-bottom: 50px;
}

.active-players .active-txt {
    display: flex;
    align-items: center;
}

.active-txt #wifi {
    font-size: 25px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: var(--secondary-color);
}

.players-content .active-players h3 {
    color: var(--text-color);
}

.active-players h4 {
    color: var(--red);
}

.active-players ul {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.player-item {
    cursor: pointer;
    color: var(--text-color);
    font-size: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
}

.player-head {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.player-item.active {
    position: relative;
    display: inline-block;
    overflow: visible;
}

.player-item.active::before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #01e401;
    position: absolute;
    top: -6px;
    left: 28px;
    font-size: 12px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.player-item.inactive {
    position: relative;
    display: inline-block;
    overflow: visible;
}

.player-item.inactive::before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: grey;
    position: absolute;
    top: -6px;
    left: 28px;
    font-size: 12px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.player-item:hover {
    transform: translateY(-3px);
}

.all-players h3 {
    color: var(--text-color);
}

.all-players ul {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}















/* Media Query */

@media (max-width: 992px) {

    .active-players ul,
    .all-players ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {

    .active-players ul,
    .all-players ul {
        grid-template-columns: 1fr;
    }
}