:root {
    --base-color: #fff !important;
    --background: #f5f7fa !important;
    --text-color: #000 !important;
    --text-color-2: #fff;
    --text-color-3: #222934;
    --red: #e81c1c;
    --secondary-color: #377de6 !important;
    --shadow-color: #0066ff !important;
    --shadow-color-2: rgba(0, 0, 0, 0.1);
    --shadow-color-3: rgba(0, 0, 0, 0.2);
    --shodow-color-4: rgba(0, 0, 0, 0.29);
    --pink: #FF69B4;
}

.darkmode {
    --base-color: #1f252e !important;
    --background: #222934 !important;
    --text-color: #fff !important;
    --text-color-2: #fff;
    --text-color-3: #f5f7fa;
    --secondary-color: #377de6 !important;
    --shadow-color: #0066ff !important;
    --shadow-color-2: rgba(0, 0, 0, 0.577);
    --shadow-color-3: rgba(0, 0, 0, 0.553);
    --shodow-color-4: rgba(0, 0, 0, 0.596);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none !important;
    list-style: none;
    font-family: "Winky Sans", sans-serif;
    font-weight: 400;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader:after {
    content: '';
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
    /* Blue */

    border-radius: 50%;
    animation: spin 2s linear infinite;
    /* Spin animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body.loading {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}


body {
    background-color: var(--background) !important;
    height: 100vh;
}


.header {
    height: 60px;
}

.header .navbar-top {
    align-items: center;
    padding-top: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;

}

.navbar-top .top-2 h3 {
    text-align: center;
    font-size: 17px;
    color: var(--text-color);
}

.header .navbar-bottom {
    padding: 5px 20px;
    justify-content: space-between;
    background: var(--base-color);
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 10px var(--background);
}

.navbar-bottom .nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo .logo {
    margin-top: 5px;
}

.nav-logo .logo img {
    height: 30px;
    width: 30px;
}

.nav-logo .name {
    margin-left: 10px;
}

.nav-logo .name a {
    color: var(--text-color);
    font-size: 23px;
}

.navbar-bottom .nav {
    margin-right: 20px;
    line-height: 30px;
    align-items: center;
    display: flex;
}

.navbar-bottom .nav ul {
    margin-top: 10px;
    align-items: center;
    display: flex;
    gap: 25px;
}

.nav ul li a {
    padding-bottom: 5px;
    line-height: 1;
    color: var(--text-color);
    display: inline-block;
    position: relative;
}

.nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-bottom .nav .nav-icon {
    align-items: center;
    margin-left: 50px;
}

.navbar-bottom .nav .nav-icon #theme-switch {
    border: none;
    outline: none;
    background: none;
}

.navbar-bottom .nav .nav-icon #moon {
    line-height: 1;
    font-size: 18px;
    color: var(--text-color);
}

.navbar-bottom .nav .nav-icon #sun {
    display: none;
    line-height: 1;
    font-size: 18px;
    color: var(--text-color);
}

.darkmode #theme-switch #moon {
    display: none;
}

.darkmode #theme-switch #sun {
    display: block;
}

@keyframes scaleEffect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.navbar-bottom .nav .nav-icon #moon:hover {
    cursor: pointer;
    animation: scaleEffect 0.45s ease-in-out;
}

.navbar-bottom .nav .nav-icon #sun:hover {
    cursor: pointer;
    animation: scaleEffect 0.45s ease-in-out;
}

.hero-section {
    background:
        linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.53)),
        url(../img/background.png) center/cover no-repeat;
    height: 100vh;
    padding: 10px;
    padding-top: 100px;
    margin-bottom: 20px;
}

.hero-section .hero-content {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.hero-section .hero-content h2 {
    text-align: center;
    color: var(--text-color-2);
}

.hero-section .hero-content p {
    margin-top: 20px;
    outline: none;
    color: var(--text-color-2);
}

.hero-section .hero-content .join-btn {
    margin-top: 10px;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    color: var(--text-color-2);
    background: var(--secondary-color);
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.join-btn:hover {
    box-shadow: 0 0 10px var(--text-color-2),
        0 0 10px var(--shadow-color);
}

.join-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
}

.join-overlay .ip-info {
    background: var(--background);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 700px;
    width: 90%;
}

.join-overlay .ip-info h2 {
    text-align: center;
    color: var(--text-color);
    padding-bottom: 10px;
}

.join-overlay .ip-info h3 {
    color: var(--secondary-color);
    font-size: 22px;
}

.join-overlay .ip-info h3 span {
    padding-left: 5px;
    font-size: 20px;
    color: var(--text-color);
}

.tooltip {
    position: absolute;
    background: #4caf50;
    color: white !important;
    padding: 5px !important;
    font-size: 13px !important;
    border-radius: 5px;
    top: -30px;
    left: 51%;
    transform: translateX(-50%);
    white-space: nowrap;
    animation: fadeOut 1.5s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.join-overlay .ip-info .copy {
    position: relative;
    cursor: pointer;
    padding-left: 7px;
    font-size: 20px;
}










/* Uptime */

.uptime {
    background: var(--background);
    padding: 3rem 1.5rem;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

.uptime-content {
    max-width: 800px;
    margin: 0 auto;
}

.uptime-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.uptime-txt h2 {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
}

#globe {
    font-size: 30px;
    color: var(--secondary-color);
    padding-bottom: 5px;
}

.time {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem;
}

.time ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.time h4 {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-bottom: 0.8rem;
    font-weight: 600;
    text-decoration: underline;
}

.time li {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 0.4rem;
    font-weight: 500;
}

.time li span {
    font-weight: 600;
    color: var(--secondary-color);
}

.notice {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: var(--red);
    font-weight: 600;
}



.server-stats {
    background: var(--background);
    padding: 10px;
    height: 25vh;
}

.server-stats .stats-content {
    float: right;
    margin-right: 220px;
}

.stats-content .stats-txt h2 {
    color: var(--text-color);
}

.stats-content .stats-txt h2 #charts {
    color: var(--secondary-color);
}

.stats-content .stats h5 {
    line-height: 30px;
    align-items: center;
    display: flex;
    color: var(--text-color);
    padding-left: 10px;
}

.stats h5 #server-status {
    padding-left: 7px;
}

.stats h5 .icons {
    align-items: center;
}

.stats h5 .icons #cloud {
    color: #00cd00;
    padding-left: 7px;
    font-size: 25px;
    display: none;
}

.stats h5 .icons #cloud-off {
    color: var(--red);
    padding-left: 7px;
    font-size: 25px;
    display: none;
}

.stats h5 .icons #error {
    color: var(--red);
    padding-left: 7px;
    font-size: 25px;
    display: none;
}

.stats h5 #player-count {
    padding-left: 10px;
    color: var(--secondary-color);
}


.newsletter {
    height: 60vh;
    padding: 2rem 9%;
    padding: 6rem 2rem;
}

.newsletter .letter-content {
    text-align: center;
}

.letter-content .letter-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.letter-txt #mail {
    font-size: 30px;
    color: var(--secondary-color);
    padding-bottom: 10px;
}

.letter-txt h2 {
    color: var(--text-color);
    display: block;
    text-wrap: wrap;
}

.letter-content p {
    color: var(--text-color-3);
}

.letter-content form {
    justify-content: center;
    padding: 10px;
    display: flex;
}

.letter-content form input {
    border: none !important;
    width: 500px;
    max-width: 500px;
    padding: 15px;
    padding-left: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 8px 16px var(--shadow-color-2)
}

.letter-content form .sub-btn {
    border: none !important;
    padding: 15px;
    width: 135px;
    background: #377de6;
    border: 1px solid #000;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 8px 16px var(--shodow-color-4);
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.letter-content form .sub-btn:hover {
    background: #216fe2;
    box-shadow: 0 12px 20px var(--shadow-color-3);
}


.footer {
    background: var(--base-color);
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer .icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}

.footer .icons i {
    cursor: pointer;
    font-size: 18px;
    /* Slightly bigger for uniformity */
    width: 40px;
    /* Ensure perfect circle */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    border-radius: 50%;
    transition: transform 0.2s, background 0.2s;
    color: var(--text-color-2);
}

.footer .icons i:hover {
    transform: translateY(-2px);
    background: var(--shadow-color);
    border: none;
    /* Removes border on hover */
}


.footer-text {
    font-size: 0.9rem;
    color: var(--text-color);
    margin: 0;
    padding-top: 10px;
}

.toast.status-online .toast-header,
.toast.status-online .toast-body {
    background-color: #d4edda !important;
    /* light green background */
    color: #00cd00 !important;
}

.toast.status-offline .toast-header,
.toast.status-offline .toast-body {
    background-color: #f8d7da !important;
    /* light red background */
    color: #e81c1c !important;
}





















/* Media Query */

@media (max-width: 992px) {
    * {
        border: none !important;
    }

    .hero-section {
        height: max-content;
    }

    #offcanvasResponsive {
        background: var(--base-color);
        width: 300px;
    }

    #offcanvasResponsive h5 {
        color: var(--text-color);
    }

    .header .navbar-bottom {
        padding: 0;
    }

    #offcanvasResponsive {
        border: none !important;
        box-shadow: none !important;
    }


    #bars {
        padding-top: 10px;
        font-size: 30px;
        line-height: 30px;
        color: var(--text-color);
    }

    .nav-logo {
        margin-left: 15px;
    }

    .nav-logo .logo {
        margin-top: 0;
    }

    .nav-logo .logo img {
        height: 20px;
        width: 20px;
    }

    .nav-logo .name {
        margin-left: 10px;
    }

    .nav-logo .name a {
        color: var(--text-color);
        font-size: 20px;
    }

    .navbar-bottom .nav .nav-icon #moon {
        line-height: 1;
        font-size: 20px;
        padding-top: 10px;
    }

    .navbar-bottom .nav .nav-icon #sun {
        line-height: 1;
        font-size: 20px;
        padding-top: 10px;
    }

    .offcanvas-header {
        justify-content: space-between;
    }

    .close-btn {
        border: none;
        background: transparent;
        outline: none;
    }

    .close-btn #close {
        padding-top: 10px;
        font-size: 30px;
        color: var(--text-color);
    }

    .navbar-bottom .nav ul {
        align-items: start;
        gap: 15px;
        margin-left: 10px;
    }

    .navbar-bottom .nav ul li a {
        padding-left: 5px;
    }

    .nav-ul {
        flex-direction: column;
    }

    .nav ul li a::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        left: 0;
        top: 0;
        background-color: var(--text-color);
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.25s ease-out;
    }

    .nav ul li a:hover::after {
        transform: scaleY(1);
        transform-origin: bottom;
    }

    .hero-section .hero-content {
        padding: 20px;
    }

    .hero-section .hero-content .join-btn {
        margin-bottom: 10px;
    }

    .server-stats {
        height: max-content;
    }

    .server-stats .stats-content {
        float: none;
        text-align: center;
        margin-right: 0;
    }

    .time {
        display: flex;
        flex-direction: column;
    }

    .footer {
        margin-top: 50px;
    }
}

@media (max-width: 580px) {

    .join-overlay .ip-info h3 {
        color: var(--secondary-color);
        font-size: 18px;
    }

    .join-overlay .ip-info h3 span {
        font-size: 18px;
    }

    .letter-content form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .letter-content form input {
        width: 100%;
        /* It will now take full container width */
        border-radius: 30px;
    }

    .letter-content form .sub-btn {
        border-radius: 30px;
        text-align: center;
        padding: 12px;
        width: 100%;
        max-width: 130px;
    }
}


@media (max-width: 430px) {
    .stats-content .stats h5 {
        padding-left: 7px;
        font-size: 18px;
    }

    .stats h5 #player-count {
        padding-left: 6px;
        color: var(--secondary-color);
    }

}